.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.movie h2 {
  font-size: 2rem;
  color: #f7e702;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.delete-btn {
  background-color: lightcoral;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
}

.delete-btn:hover {
  background: tomato;
}

.movie div:nth-child(2) {
  flex: 4;
}

.movie div:nth-child(1) {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
